@import url(../../../styles/variables.css);

.select {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  outline: none;

  margin-top: 20px;
  padding-left: 1em;
}

.select:active,
.select:focus,
.select[type="checkbox"] {
  border-color: var(--focus-bg-c);
}
