.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 20px;
}

.author {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.allAuthorSelect {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
