@import url(../../../styles/variables.css);

.card {
  border: 1px solid rgba(0, 0, 0, 0.219);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 294px;
  margin: 0 20px 20px 0;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  border-color: var(--focus-bg-c);
}
.card:last-child {
  margin: 0 0 20px 0;
}

.card > span,
.card > div {
  margin: 10px;
}

.checked {
  color: var(--focus-bg-c);
}

.title,
.card > span,
.stars > span {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}
.title {
  text-align: center;
  font-size: 1.25em;
}
@media only screen and (max-width: 600px) {
  .card {
    margin-right: 0;
  }
}
