.button {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: all 0.35s ease-in-out;
  outline: none;
  text-align: center;

  margin-top: 20px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ffa812;
  color: #ffffff;
}

.button:focus {
  box-shadow: 0 0 0 4px #ffa81223;
}

.button:active {
  background-color: #ffa81223;
  box-shadow: none;
  color: #ffffff;
}
