@import url(../../../styles/variables.css);

.input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: calc(100% - 1em);
  padding: 1em 0;
  line-height: 1.4;
  background-color: var(--def-bg-c);
  border: 1px solid var(--def-border-color);
  border-radius: 3px;
  transition: all 0.35s ease-in-out;
  outline: none;

  margin-top: 20px;
  padding-left: 1em;
}

.input:active,
.input:focus,
.input[type="checkbox"] {
  border-color: var(--focus-bg-c);
}
