.container {
  display: flex;
  justify-content: space-evenly;
}

.filterBlock {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .filterBlock {
    display: flex;
    align-items: center;
    min-width: 100%;
  }
  .catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
